.wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: fit-content;
  .text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: var(--dark-blue);
  }
  svg {
    width: 20px;
    height: 20px;
    fill: var(--dark-blue);
  }
}
