.container {
  width: 100%;
  padding: 20px 0 30px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    @media (max-width: 1139px) {
      margin-bottom: 15px;
    }
    .title {
      margin: 0;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.04em;
      color: var(--dark-blue);
      @media (max-width: 1139px) {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 30px;
    .rowItem {
      flex: 0 1 20%;
    }
    .row6Item {
      flex: 0 1 16%;
    }
  }
  .shimmerContainer {
    display: flex;
    column-gap: 30px;
    .shimmer {
      flex: 1 0 auto;
      height: auto;
      aspect-ratio: 1 / 1;
      border-radius: 10px;
    }
  }
}
