.wrapper {
  background-color: var(--green);
  color: #fff;
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
    .navItem {
      display: flex;
      align-items: center;
      column-gap: 20px;
      .button {
        display: flex;
        align-items: center;
        column-gap: 6px;
        svg {
          width: 12px;
          height: 12px;
        }
        .icon {
          width: 18px;
          height: 18px;
        }
        .text {
          font-size: 14px;
          line-height: 16px;
          color: #fff;
        }
        @media (width < 576px) {
          display: none;
        }
      }
    }
  }
}
